<div class="ui fixed inverted menu color-sfe">
	<div class="ui container">
		<a routerLink="/" class="header item">
			<img class="logo" src="assets/images/logo-white.svg" />
			<span class="logo-textline">Registro de Licencias de Conducir</span>
		</a>

		<div class="ui simple dropdown item" *ngIf="this.getUserName() != null">
			Titulares <i class="dropdown icon"></i>
			<div class="menu">
				<a class="item" (click)="this.router.navigate(['/alta-titular'])">Nuevo titular</a>
				<a class="item" (click)="this.router.navigate(['/modificar-titular'])">Modificar titular</a>
			</div>
		</div>

		<div class="ui simple dropdown item" *ngIf="this.getUserName() != null">
			Licencias <i class="dropdown icon"></i>
			<div class="menu">
				<a class="item" (click)="this.router.navigate(['/alta-licencia'])">Nueva licencia</a>
				<a class="item">Renovar licencia</a>
				<a class="item" (click)="this.router.navigate(['/licencias-vigentes'])">Licencias vigentes</a>
				<a class="item" (click)="this.router.navigate(['/licencias-expiradas'])">Licencias expiradas</a>
			</div>
		</div>

		<div class="ui simple dropdown item" *ngIf="this.getUserName() != null && this.getRole() == 'SUPERUSUARIO'">
			Usuarios <i class="dropdown icon"></i>
			<div class="menu">
				<a class="item" (click)="this.router.navigate(['/alta-usuario'])">Dar de alta</a>
				<a class="item" (click)="this.router.navigate(['/modificar-usuario'])">Modificar datos</a>
			</div>
		</div>

		<div class="ui simple dropdown item float right" *ngIf="this.getUserName() != null">
			<div>
				<span id="user-name">{{ this.getName() }} {{ this.getSurname() }}</span>
				<i id="user-rol">{{ this.getRole() }}</i>
			</div>
			<i class="dropdown icon"></i>

			<div class="menu">
				<a class="item" (click)="this.logOut()">Cerrar sesión<i id="sign-out-icon" class="sign-out icon"></i></a>
			</div>
		</div>
	</div>
</div>
