<div class="ui main text container">
	<h1 class="ui header">Modificar usuario</h1>

	<div class="form ui">
		<h3 class="ui dividing header">Información del usuario</h3>

		<form #buForm="ngForm" [formGroup]="buscarUsuarioForm" (ngSubmit)="buscarUsuario(buForm)" class="ui form">
			<div class="two fields">
				<div class="field">
					<label>Número de Documento</label>
					<div class="field">
						<input type="number" formControlName="dni" name="dni" placeholder="Número de Documento" />
					</div>
				</div>
			</div>

			<input [disabled]="!buscarUsuarioForm.valid" class="ui button" type="submit" value="Buscar usuario" />
		</form>

		<div class="ui icon message" *ngIf="displayWaitMessage">
			<i class="notched circle loading icon"></i>
			<div class="content">
				<div class="header">Procesando</div>
				<p>Espere un segundo.</p>
			</div>
		</div>

		<div *ngIf="displayOK" class="ui positive message">
			<div class="header">Modificación realizada</div>
			<p>Se realizó la modificación exitosamente</p>
		</div>

		<form *ngIf="displayForm" #mtForm="ngForm" [formGroup]="modificarUsuarioForm" (ngSubmit)="modificarUsuario(mtForm)" class="ui form">
			<input type="hidden" formControlName="id" name="id" />
			<input type="hidden" formControlName="username" name="username" />
			<input type="hidden" formControlName="tipoUsuario" name="tipoUsuario" />
			<div class="two fields">
				<div class="field">
					<label>Nombre</label>
					<input type="text" formControlName="nombre" name="nombre" />
				</div>

				<div class="field">
					<label>Apellido</label>
					<input type="text" formControlName="apellido" name="apellido" />
				</div>
			</div>

			<div class="field">
				<label>E-mail</label>
				<input type="text" formControlName="mail" name="mail" />
			</div>

			<div class="field">
				<label>DNI</label>
				<input type="text" formControlName="dni" name="dni" />
			</div>

			<input class="ui button" type="submit" value="Modificar Usuario" />
		</form>
	</div>
</div>
